<a href="https://colab.research.google.com/github/Shrez7961/Practice/blob/main/Guided_Project_EDA_on_IMDB_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [390]:
#Import package
import pandas as pd
import numpy as np

In [391]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [392]:
df = pd.read_csv('/content/drive/MyDrive/ALMABETTER/Module_01: Python for Data Science/Guided Project- IMDB Dataset EDA/imdb_data (1).csv')

In [393]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [394]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [395]:
crew_list=eval(df.loc[0,'crew'])
crew_list

[{'credit_id': '59ac067c92514107af02c8c8',
  'department': 'Directing',
  'gender': 0,
  'id': 1449071,
  'job': 'First Assistant Director',
  'name': 'Kelly Cantley',
  'profile_path': None},
 {'credit_id': '52fe4ee7c3a36847f82afad7',
  'department': 'Directing',
  'gender': 2,
  'id': 3227,
  'job': 'Director',
  'name': 'Steve Pink',
  'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'},
 {'credit_id': '5524ed25c3a3687ded000d88',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Writer',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed2d925141720c001128',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Characters',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed3d92514166c1004a5d',
  'department': 'Production',
  'gender': 2,
  'id': 57822,
  'job': 'Producer',
  'name': 'Andrew Panay',
  'profile_path': None},
 {'credit_id': '5524ed4bc3a3687df3000dd2',
  'department': 'Production',
  'gender': 0,
  'id': 1451395,
  'job': 'Associate Producer',
  'name': 'Adam Blum',
  'profile_path': None},
 {'credit_id': '5524ed5a925141720c00112c',
  'department': 'Production',
  'gender': 2,
  'id': 52997,
  'job': 'Executive Producer',
  'name': 'Rob Corddry',
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'credit_id': '5524ed85c3a3687e0e000f56',
  'department': 'Production',
  'gender': 0,
  'id': 62807,
  'job': 'Executive Producer',
  'name': 'Ben Ormand',
  'profile_path': None},
 {'credit_id': '5524ed9fc3a3687e0e000f59',
  'department': 'Sound',
  'gender': 2,
  'id': 23486,
  'job': 'Original Music Composer',
  'name': 'Christophe Beck',
  'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'},
 {'credit_id': '5524eda6c3a3687e03000d28',
  'department': 'Camera',
  'gender': 2,
  'id': 6117,
  'job': 'Director of Photography',
  'name': 'Declan Quinn',
  'profile_path': None},
 {'credit_id': '5524edb4925141720c00113d',
  'department': 'Editing',
  'gender': 0,
  'id': 1451396,
  'job': 'Editor',
  'name': 'Jamie Gross',
  'profile_path': None},
 {'credit_id': '5524edc1925141727600102e',
  'department': 'Production',
  'gender': 0,
  'id': 22219,
  'job': 'Casting',
  'name': 'Susie Farris',
  'profile_path': None},
 {'credit_id': '5524edd192514171cb008257',
  'department': 'Art',
  'gender': 0,
  'id': 1002643,
  'job': 'Production Design',
  'name': 'Ryan Berg',
  'profile_path': None},
 {'credit_id': '555ad9be9251411e5b00d485',
  'department': 'Production',
  'gender': 2,
  'id': 57431,
  'job': 'Executive Producer',
  'name': 'Matt Moore',
  'profile_path': None},
 {'credit_id': '5677e93bc3a36816890087dc',
  'department': 'Directing',
  'gender': 0,
  'id': 1551818,
  'job': 'Script Supervisor',
  'name': 'Nicole Garcea',
  'profile_path': None},
 {'credit_id': '5677e96a92514179e10093d0',
  'department': 'Production',
  'gender': 0,
  'id': 1551819,
  'job': 'Production Coordinator',
  'name': 'Jason Salzman',
  'profile_path': None},
 {'credit_id': '5677e98492514179d2008cd9',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1422996,
  'job': 'Costume Design',
  'name': 'Carol Cutshall',
  'profile_path': None},
 {'credit_id': '5677e9d5c3a368168e009414',
  'department': 'Art',
  'gender': 2,
  'id': 500199,
  'job': 'Set Decoration',
  'name': 'Tim Cohn',
  'profile_path': None},
 {'credit_id': '5677f89d9251417845001a61',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1527917,
  'job': 'Hair Department Head',
  'name': 'Voni Hinkle',
  'profile_path': None},
 {'credit_id': '5677f8b392514179dd0089fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431554,
  'job': 'Makeup Department Head',
  'name': 'Remi Savva',
  'profile_path': None},
 {'credit_id': '5677f8d1c3a3681689008a4b',
  'department': 'Art',
  'gender': 0,
  'id': 66495,
  'job': 'Art Direction',
  'name': 'Jason Baldwin Stewart',
  'profile_path': None},
 {'credit_id': '5677f8eec3a3681685008dd5',
  'department': 'Production',
  'gender': 0,
  'id': 1412466,
  'job': 'Production Supervisor',
  'name': 'Korey Budd',
  'profile_path': None},
 {'credit_id': '5677f90a9251417845001a7d',
  'department': 'Sound',
  'gender': 0,
  'id': 1401562,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary C. Bourgeois',
  'profile_path': None},
 {'credit_id': '5677f91e9251417845001a84',
  'department': 'Sound',
  'gender': 0,
  'id': 1396794,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gabriel J. Serrano',
  'profile_path': None},
 {'credit_id': '5677f938c3a3681680008dd4',
  'department': 'Editing',
  'gender': 0,
  'id': 13168,
  'job': 'Dialogue Editor',
  'name': 'Victoria Rose Sampson',
  'profile_path': None},
 {'credit_id': '5677f94e92514179dd008a1f',
  'department': 'Sound',
  'gender': 0,
  'id': 1551839,
  'job': 'Production Sound Mixer',
  'name': 'Michael B. Koff',
  'profile_path': None},
 {'credit_id': '5677f968c3a368168e009698',
  'department': 'Sound',
  'gender': 0,
  'id': 113052,
  'job': 'Sound Effects Editor',
  'name': 'Randall Guth',
  'profile_path': None},
 {'credit_id': '5677f98dc3a3681685008e02',
  'department': 'Crew',
  'gender': 2,
  'id': 1442535,
  'job': 'Stunt Coordinator',
  'name': 'Chuck Picerni Jr.',
  'profile_path': '/yE5QtXUzcrnCzMRctZL8F5g842B.jpg'},
 {'credit_id': '5677f9a692514179dd008a49',
  'department': 'Camera',
  'gender': 0,
  'id': 1437305,
  'job': 'Camera Operator',
  'name': 'Michael Applebaum',
  'profile_path': None},
 {'credit_id': '5677f9bd9251417845001aae',
  'department': 'Camera',
  'gender': 0,
  'id': 1401765,
  'job': 'Still Photographer',
  'name': 'Steve Dietl',
  'profile_path': None},
 {'credit_id': '5677f9e592514179e7008bf7',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402721,
  'job': 'Rigging Gaffer',
  'name': 'Tarik Naim Alherimi',
  'profile_path': None},
 {'credit_id': '5677f9f4c3a368167c0090ed',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402719,
  'job': 'Gaffer',
  'name': 'Paul Olinde',
  'profile_path': None},
 {'credit_id': '5677fa21c3a368168e0096ca',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Supervisor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa31c3a3681680008e04',
  'department': 'Sound',
  'gender': 0,
  'id': 1551841,
  'job': 'Music Editor',
  'name': 'Matt Fausak',
  'profile_path': None},
 {'credit_id': '5677fa4392514179dd008a76',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Editor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa609251417845001acf',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1403416,
  'job': 'Costume Supervisor',
  'name': 'Shonta T. McCray',
  'profile_path': None},
 {'credit_id': '5677fa8492514179d2008fb3',
  'department': 'Camera',
  'gender': 0,
  'id': 1425831,
  'job': 'Steadicam Operator',
  'name': 'Mark Karavite',
  'profile_path': None},
 {'credit_id': '5677fab2c3a3681689008ac3',
  'department': 'Camera',
  'gender': 0,
  'id': 1551842,
  'job': 'First Assistant Camera',
  'name': 'Joe Waistell',
  'profile_path': None},
 {'credit_id': '5677faecc3a368168e0096fe',
  'department': 'Sound',
  'gender': 0,
  'id': 58362,
  'job': 'Supervising Sound Editor',
  'name': 'Michael Hilkene',
  'profile_path': None},
 {'credit_id': '59ac0368c3a3682c0a02c484',
  'department': 'Crew',
  'gender': 0,
  'id': 1881584,
  'job': 'Additional Writing',
  'name': 'John Karnay',
  'profile_path': None},
 {'credit_id': '59ac0411c3a3682bf0028966',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431552,
  'job': 'Hairstylist',
  'name': 'Daina Daigle',
  'profile_path': None},
 {'credit_id': '59ac0504925141072302b8fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1712001,
  'job': 'Makeup Artist',
  'name': 'Allison Gordin',
  'profile_path': None},
 {'credit_id': '59ac0570c3a3682bf0028aac',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 578725,
  'job': 'Makeup Artist',
  'name': 'Darryl Lucas',
  'profile_path': None},
 {'credit_id': '59ac05a4925141077e02c97e',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463274,
  'job': 'Makeup Artist',
  'name': 'Annabelle MacNeal',
  'profile_path': None},
 {'credit_id': '59ac05c6925141076502d106',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881586,
  'job': 'Makeup Artist',
  'name': 'Marina Savva',
  'profile_path': None},
 {'credit_id': '59ac0615c3a3682c480296aa',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1406267,
  'job': 'Hairstylist',
  'name': 'Carl G. Variste',
  'profile_path': None},
 {'credit_id': '59ac06ba925141076502d1fa',
  'department': 'Directing',
  'gender': 0,
  'id': 1798593,
  'job': 'First Assistant Director',
  'name': 'Josh King',
  'profile_path': None},
 {'credit_id': '59ac06f1c3a3682c2202aca0',
  'department': 'Art',
  'gender': 0,
  'id': 1415083,
  'job': 'Greensman',
  'name': 'Scott C. Bivona',
  'profile_path': None},
 {'credit_id': '59ac072c925141076502d260',
  'department': 'Art',
  'gender': 0,
  'id': 1881587,
  'job': 'Title Designer',
  'name': 'Eunha Choi',
  'profile_path': None},
 {'credit_id': '59ac077c925141077e02cb62',
  'department': 'Art',
  'gender': 0,
  'id': 1585302,
  'job': 'Construction Coordinator',
  'name': 'Daniel Coe',
  'profile_path': None},
 {'credit_id': '59ac07e0925141078a02d842',
  'department': 'Art',
  'gender': 0,
  'id': 1495523,
  'job': 'Set Designer',
  'name': 'Spencer Davison',
  'profile_path': None},
 {'credit_id': '59ac0862925141072f02cf6f',
  'department': 'Art',
  'gender': 0,
  'id': 1881589,
  'job': 'Painter',
  'name': 'Sonia L. Garcia',
  'profile_path': None},
 {'credit_id': '59ac08e0c3a3682bf0028e51',
  'department': 'Art',
  'gender': 0,
  'id': 1424896,
  'job': 'Art Department Coordinator',
  'name': 'Caleb Guillotte',
  'profile_path': None},
 {'credit_id': '59ac0920c3a3682c2202af36',
  'department': 'Art',
  'gender': 0,
  'id': 1393375,
  'job': 'Leadman',
  'name': "Pat A. O'Connor",
  'profile_path': None},
 {'credit_id': '59ac095592514107af02cc39',
  'department': 'Art',
  'gender': 0,
  'id': 1881592,
  'job': 'Set Designer',
  'name': 'Brendan Turrill',
  'profile_path': None},
 {'credit_id': '59ac0989925141072302bdfa',
  'department': 'Art',
  'gender': 2,
  'id': 76497,
  'job': 'Property Master',
  'name': 'Brook Yeaton',
  'profile_path': None},
 {'credit_id': '59ac0a2cc3a3682c9c02add1',
  'department': 'Sound',
  'gender': 0,
  'id': 1881596,
  'job': 'Boom Operator',
  'name': 'Matthew Armstrong',
  'profile_path': None},
 {'credit_id': '59ac0aa8925141072f02d282',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 1558086,
  'job': 'Special Effects Supervisor',
  'name': 'Matt Kutcher',
  'profile_path': None},
 {'credit_id': '59ac0b2ac3a3682c2202b192',
  'department': 'Crew',
  'gender': 2,
  'id': 1558087,
  'job': 'Special Effects Coordinator',
  'name': 'Eric Roberts',
  'profile_path': None},
 {'credit_id': '59ac0b7ac3a3682c2202b1fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1392098,
  'job': 'Visual Effects Supervisor',
  'name': 'Rocco Passionino',
  'profile_path': None},
 {'credit_id': '59ac0bbe925141077e02d0c4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1558716,
  'job': 'Visual Effects Coordinator',
  'name': 'Joseph Payo',
  'profile_path': None},
 {'credit_id': '59ac0bf2c3a3682cc802cefa',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1408784,
  'job': 'Visual Effects Producer',
  'name': 'Chris Roff',
  'profile_path': None},
 {'credit_id': '59ac0c51c3a3682c48029d99',
  'department': 'Lighting',
  'gender': 0,
  'id': 1881600,
  'job': 'Best Boy Electric',
  'name': 'Ulyan Atamanyuk',
  'profile_path': None},
 {'credit_id': '59ac0cbac3a3682c0a02cff6',
  'department': 'Camera',
  'gender': 0,
  'id': 1881602,
  'job': 'Key Grip',
  'name': 'Chris Ekstrom',
  'profile_path': None},
 {'credit_id': '59ac0d54925141072f02d5e6',
  'department': 'Lighting',
  'gender': 0,
  'id': 1484984,
  'job': 'Best Boy Electric',
  'name': 'Brad Garris',
  'profile_path': None},
 {'credit_id': '59ac0db0925141078a02df86',
  'department': 'Camera',
  'gender': 0,
  'id': 1881603,
  'job': 'Dolly Grip',
  'name': 'Kendell Joseph',
  'profile_path': None},
 {'credit_id': '59ac0e5a925141077e02d39f',
  'department': 'Camera',
  'gender': 0,
  'id': 1549179,
  'job': 'Dolly Grip',
  'name': 'Spencer Wilcox',
  'profile_path': None},
 {'credit_id': '59ac0e9f925141079d02bee6',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1552626,
  'job': 'Key Costumer',
  'name': 'Sarah P. Koeppe',
  'profile_path': None},
 {'credit_id': '59ac0ec1c3a3682bf0029524',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881605,
  'job': 'Seamstress',
  'name': 'Catherine Rodi',
  'profile_path': None},
 {'credit_id': '59ac0eef925141070702c7ff',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463801,
  'job': 'Seamstress',
  'name': 'Giselle Spence',
  'profile_path': None},
 {'credit_id': '59ac0f5dc3a3682c4802a0f5',
  'department': 'Production',
  'gender': 0,
  'id': 1400837,
  'job': 'Location Manager',
  'name': 'John A. Johnston',
  'profile_path': None},
 {'credit_id': '59ac0ff2c3a3682c4802a196',
  'department': 'Crew',
  'gender': 0,
  'id': 1844322,
  'job': 'Production Controller',
  'name': 'Gail Marks',
  'profile_path': None}]

In [396]:
len(crew_list)

72

In [397]:
eval(df.loc[0,'genres'])

[{'id': 35, 'name': 'Comedy'}]

In [398]:
df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [399]:
#lets take out important columns
columns_to_keep=['budget','genres','imdb_id',"original_language","original_title","cast",'crew','revenue']
df1 = df[columns_to_keep]
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             3000 non-null   int64
 1   genres             2993 non-null   object
 2   imdb_id            3000 non-null   object
 3   original_language  3000 non-null   object
 4   original_title     3000 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            3000 non-null   int64
dtypes: int64(2), object(6)
memory usage: 187.6+ KB

In [400]:
#creating non null df
df1.dropna(inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2978 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             2978 non-null   int64
 1   genres             2978 non-null   object
 2   imdb_id            2978 non-null   object
 3   original_language  2978 non-null   object
 4   original_title     2978 non-null   object
 5   cast               2978 non-null   object
 6   crew               2978 non-null   object
 7   revenue            2978 non-null   int64
dtypes: int64(2), object(6)
memory usage: 209.4+ KB

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [401]:
df1.shape

(2978, 8)

In [402]:
# Creating a fumction to change string to list
def convert_str_to_list(str):
  return eval(str)

In [403]:
#Applying above func to column "genres"
df1.loc[~df['genres'].isnull(),'genres'] = df1.loc[~df['genres'].isnull(),'genres'] .apply(convert_str_to_list)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [404]:
df1.loc[0,'genres']

[{'id': 35, 'name': 'Comedy'}]

In [405]:
#Applying above func to column "cast"
df1.loc[~df['cast'].isnull(),'cast'] = df1.loc[~df['cast'].isnull(),'cast'] .apply(convert_str_to_list)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [406]:
print(df1.loc[0,'cast'])

[{'cast_id': 4, 'character': 'Lou', 'credit_id': '52fe4ee7c3a36847f82afae7', 'gender': 2, 'id': 52997, 'name': 'Rob Corddry', 'order': 0, 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'cast_id': 5, 'character': 'Nick', 'credit_id': '52fe4ee7c3a36847f82afaeb', 'gender': 2, 'id': 64342, 'name': 'Craig Robinson', 'order': 1, 'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'}, {'cast_id': 6, 'character': 'Jacob', 'credit_id': '52fe4ee7c3a36847f82afaef', 'gender': 2, 'id': 54729, 'name': 'Clark Duke', 'order': 2, 'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'}, {'cast_id': 7, 'character': 'Adam Jr.', 'credit_id': '52fe4ee7c3a36847f82afaf3', 'gender': 2, 'id': 36801, 'name': 'Adam Scott', 'order': 3, 'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'}, {'cast_id': 8, 'character': 'Hot Tub Repairman', 'credit_id': '52fe4ee7c3a36847f82afaf7', 'gender': 2, 'id': 54812, 'name': 'Chevy Chase', 'order': 4, 'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'}, {'cast_id': 9, 'character': 'Jill', 'credit_id': '52fe4ee7c3a36847f82afafb', 'gender': 1, 'id': 94098, 'name': 'Gillian Jacobs', 'order': 5, 'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'}, {'cast_id': 10, 'character': 'Sophie', 'credit_id': '52fe4ee7c3a36847f82afaff', 'gender': 1, 'id': 1159009, 'name': 'Bianca Haase', 'order': 6, 'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'}, {'cast_id': 11, 'character': 'Kelly', 'credit_id': '5524ec51c3a3687df3000dbb', 'gender': 1, 'id': 86624, 'name': 'Collette Wolfe', 'order': 7, 'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'}, {'cast_id': 13, 'character': 'Brad', 'credit_id': '5524ec8ec3a3687ded000d72', 'gender': 2, 'id': 466505, 'name': 'Kumail Nanjiani', 'order': 9, 'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'}, {'cast_id': 14, 'character': 'Courtney', 'credit_id': '5524ec9bc3a3687df8000d13', 'gender': 1, 'id': 70776, 'name': 'Kellee Stewart', 'order': 10, 'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'}, {'cast_id': 15, 'character': 'Terry', 'credit_id': '5524eca892514171cb008237', 'gender': 2, 'id': 347335, 'name': 'Josh Heald', 'order': 11, 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'cast_id': 16, 'character': 'Susan', 'credit_id': '5524ecb7925141720c001116', 'gender': 0, 'id': 1451392, 'name': 'Gretchen Koerner', 'order': 12, 'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'}, {'cast_id': 17, 'character': 'Herself', 'credit_id': '5524ecc3c3a3687ded000d74', 'gender': 1, 'id': 98879, 'name': 'Lisa Loeb', 'order': 13, 'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'}, {'cast_id': 18, 'character': 'Herself', 'credit_id': '5524ecd3c3a3687e11000ed3', 'gender': 1, 'id': 1394648, 'name': 'Jessica Williams', 'order': 14, 'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'}, {'cast_id': 19, 'character': 'Himself', 'credit_id': '5524ece6925141718d001009', 'gender': 0, 'id': 1451393, 'name': 'Bruce Buffer', 'order': 15, 'profile_path': None}, {'cast_id': 20, 'character': 'Shot Girl', 'credit_id': '5524ecf5c3a3687e08000dc2', 'gender': 0, 'id': 1451394, 'name': 'Mariana Paola Vicente', 'order': 16, 'profile_path': '/ckPllza8624UHWGHCbLShkLxCD1.jpg'}, {'cast_id': 33, 'character': 'Choozy Doozy Host', 'credit_id': '555844da9251412afe0013a9', 'gender': 2, 'id': 2224, 'name': 'Christian Slater', 'order': 17, 'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'}, {'cast_id': 35, 'character': 'Gary Winkle', 'credit_id': '55872027c3a3683853005074', 'gender': 0, 'id': 185805, 'name': 'Jason Jones', 'order': 18, 'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'}, {'cast_id': 36, 'character': 'Bridesmaid', 'credit_id': '55efe971c3a368090c00cd1b', 'gender': 0, 'id': 1507448, 'name': 'Olivia Jordan', 'order': 19, 'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'}, {'cast_id': 37, 'character': 'Christine', 'credit_id': '55efe980c3a36871bf008176', 'gender': 1, 'id': 1334091, 'name': 'Christine Bently', 'order': 20, 'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'}, {'cast_id': 38, 'character': 'Excited Girl', 'credit_id': '55efe98e9251413e3201d316', 'gender': 0, 'id': 557803, 'name': 'Stacey Asaro', 'order': 21, 'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'}, {'cast_id': 64, 'character': 'Adam (uncredited)', 'credit_id': '58f2135ac3a3682e95008b91', 'gender': 2, 'id': 3036, 'name': 'John Cusack', 'order': 22, 'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'}, {'cast_id': 65, 'character': 'J-Bird', 'credit_id': '59ac0240c3a3682cc802c399', 'gender': 2, 'id': 59256, 'name': 'Adam Herschman', 'order': 23, 'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'}, {'cast_id': 66, 'character': 'Bridesmaid', 'credit_id': '59ac02cd925141079d02b1b4', 'gender': 1, 'id': 129714, 'name': 'Kisha Sierra', 'order': 24, 'profile_path': None}]

In [407]:
#Applying above func to column "crew"
df1.loc[~df['crew'].isnull(),'crew'] = df1.loc[~df['crew'].isnull(),'crew'] .apply(convert_str_to_list)
df1.loc[0,'crew']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

[{'credit_id': '59ac067c92514107af02c8c8',
  'department': 'Directing',
  'gender': 0,
  'id': 1449071,
  'job': 'First Assistant Director',
  'name': 'Kelly Cantley',
  'profile_path': None},
 {'credit_id': '52fe4ee7c3a36847f82afad7',
  'department': 'Directing',
  'gender': 2,
  'id': 3227,
  'job': 'Director',
  'name': 'Steve Pink',
  'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'},
 {'credit_id': '5524ed25c3a3687ded000d88',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Writer',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed2d925141720c001128',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Characters',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed3d92514166c1004a5d',
  'department': 'Production',
  'gender': 2,
  'id': 57822,
  'job': 'Producer',
  'name': 'Andrew Panay',
  'profile_path': None},
 {'credit_id': '5524ed4bc3a3687df3000dd2',
  'department': 'Production',
  'gender': 0,
  'id': 1451395,
  'job': 'Associate Producer',
  'name': 'Adam Blum',
  'profile_path': None},
 {'credit_id': '5524ed5a925141720c00112c',
  'department': 'Production',
  'gender': 2,
  'id': 52997,
  'job': 'Executive Producer',
  'name': 'Rob Corddry',
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'credit_id': '5524ed85c3a3687e0e000f56',
  'department': 'Production',
  'gender': 0,
  'id': 62807,
  'job': 'Executive Producer',
  'name': 'Ben Ormand',
  'profile_path': None},
 {'credit_id': '5524ed9fc3a3687e0e000f59',
  'department': 'Sound',
  'gender': 2,
  'id': 23486,
  'job': 'Original Music Composer',
  'name': 'Christophe Beck',
  'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'},
 {'credit_id': '5524eda6c3a3687e03000d28',
  'department': 'Camera',
  'gender': 2,
  'id': 6117,
  'job': 'Director of Photography',
  'name': 'Declan Quinn',
  'profile_path': None},
 {'credit_id': '5524edb4925141720c00113d',
  'department': 'Editing',
  'gender': 0,
  'id': 1451396,
  'job': 'Editor',
  'name': 'Jamie Gross',
  'profile_path': None},
 {'credit_id': '5524edc1925141727600102e',
  'department': 'Production',
  'gender': 0,
  'id': 22219,
  'job': 'Casting',
  'name': 'Susie Farris',
  'profile_path': None},
 {'credit_id': '5524edd192514171cb008257',
  'department': 'Art',
  'gender': 0,
  'id': 1002643,
  'job': 'Production Design',
  'name': 'Ryan Berg',
  'profile_path': None},
 {'credit_id': '555ad9be9251411e5b00d485',
  'department': 'Production',
  'gender': 2,
  'id': 57431,
  'job': 'Executive Producer',
  'name': 'Matt Moore',
  'profile_path': None},
 {'credit_id': '5677e93bc3a36816890087dc',
  'department': 'Directing',
  'gender': 0,
  'id': 1551818,
  'job': 'Script Supervisor',
  'name': 'Nicole Garcea',
  'profile_path': None},
 {'credit_id': '5677e96a92514179e10093d0',
  'department': 'Production',
  'gender': 0,
  'id': 1551819,
  'job': 'Production Coordinator',
  'name': 'Jason Salzman',
  'profile_path': None},
 {'credit_id': '5677e98492514179d2008cd9',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1422996,
  'job': 'Costume Design',
  'name': 'Carol Cutshall',
  'profile_path': None},
 {'credit_id': '5677e9d5c3a368168e009414',
  'department': 'Art',
  'gender': 2,
  'id': 500199,
  'job': 'Set Decoration',
  'name': 'Tim Cohn',
  'profile_path': None},
 {'credit_id': '5677f89d9251417845001a61',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1527917,
  'job': 'Hair Department Head',
  'name': 'Voni Hinkle',
  'profile_path': None},
 {'credit_id': '5677f8b392514179dd0089fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431554,
  'job': 'Makeup Department Head',
  'name': 'Remi Savva',
  'profile_path': None},
 {'credit_id': '5677f8d1c3a3681689008a4b',
  'department': 'Art',
  'gender': 0,
  'id': 66495,
  'job': 'Art Direction',
  'name': 'Jason Baldwin Stewart',
  'profile_path': None},
 {'credit_id': '5677f8eec3a3681685008dd5',
  'department': 'Production',
  'gender': 0,
  'id': 1412466,
  'job': 'Production Supervisor',
  'name': 'Korey Budd',
  'profile_path': None},
 {'credit_id': '5677f90a9251417845001a7d',
  'department': 'Sound',
  'gender': 0,
  'id': 1401562,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary C. Bourgeois',
  'profile_path': None},
 {'credit_id': '5677f91e9251417845001a84',
  'department': 'Sound',
  'gender': 0,
  'id': 1396794,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gabriel J. Serrano',
  'profile_path': None},
 {'credit_id': '5677f938c3a3681680008dd4',
  'department': 'Editing',
  'gender': 0,
  'id': 13168,
  'job': 'Dialogue Editor',
  'name': 'Victoria Rose Sampson',
  'profile_path': None},
 {'credit_id': '5677f94e92514179dd008a1f',
  'department': 'Sound',
  'gender': 0,
  'id': 1551839,
  'job': 'Production Sound Mixer',
  'name': 'Michael B. Koff',
  'profile_path': None},
 {'credit_id': '5677f968c3a368168e009698',
  'department': 'Sound',
  'gender': 0,
  'id': 113052,
  'job': 'Sound Effects Editor',
  'name': 'Randall Guth',
  'profile_path': None},
 {'credit_id': '5677f98dc3a3681685008e02',
  'department': 'Crew',
  'gender': 2,
  'id': 1442535,
  'job': 'Stunt Coordinator',
  'name': 'Chuck Picerni Jr.',
  'profile_path': '/yE5QtXUzcrnCzMRctZL8F5g842B.jpg'},
 {'credit_id': '5677f9a692514179dd008a49',
  'department': 'Camera',
  'gender': 0,
  'id': 1437305,
  'job': 'Camera Operator',
  'name': 'Michael Applebaum',
  'profile_path': None},
 {'credit_id': '5677f9bd9251417845001aae',
  'department': 'Camera',
  'gender': 0,
  'id': 1401765,
  'job': 'Still Photographer',
  'name': 'Steve Dietl',
  'profile_path': None},
 {'credit_id': '5677f9e592514179e7008bf7',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402721,
  'job': 'Rigging Gaffer',
  'name': 'Tarik Naim Alherimi',
  'profile_path': None},
 {'credit_id': '5677f9f4c3a368167c0090ed',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402719,
  'job': 'Gaffer',
  'name': 'Paul Olinde',
  'profile_path': None},
 {'credit_id': '5677fa21c3a368168e0096ca',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Supervisor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa31c3a3681680008e04',
  'department': 'Sound',
  'gender': 0,
  'id': 1551841,
  'job': 'Music Editor',
  'name': 'Matt Fausak',
  'profile_path': None},
 {'credit_id': '5677fa4392514179dd008a76',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Editor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa609251417845001acf',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1403416,
  'job': 'Costume Supervisor',
  'name': 'Shonta T. McCray',
  'profile_path': None},
 {'credit_id': '5677fa8492514179d2008fb3',
  'department': 'Camera',
  'gender': 0,
  'id': 1425831,
  'job': 'Steadicam Operator',
  'name': 'Mark Karavite',
  'profile_path': None},
 {'credit_id': '5677fab2c3a3681689008ac3',
  'department': 'Camera',
  'gender': 0,
  'id': 1551842,
  'job': 'First Assistant Camera',
  'name': 'Joe Waistell',
  'profile_path': None},
 {'credit_id': '5677faecc3a368168e0096fe',
  'department': 'Sound',
  'gender': 0,
  'id': 58362,
  'job': 'Supervising Sound Editor',
  'name': 'Michael Hilkene',
  'profile_path': None},
 {'credit_id': '59ac0368c3a3682c0a02c484',
  'department': 'Crew',
  'gender': 0,
  'id': 1881584,
  'job': 'Additional Writing',
  'name': 'John Karnay',
  'profile_path': None},
 {'credit_id': '59ac0411c3a3682bf0028966',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431552,
  'job': 'Hairstylist',
  'name': 'Daina Daigle',
  'profile_path': None},
 {'credit_id': '59ac0504925141072302b8fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1712001,
  'job': 'Makeup Artist',
  'name': 'Allison Gordin',
  'profile_path': None},
 {'credit_id': '59ac0570c3a3682bf0028aac',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 578725,
  'job': 'Makeup Artist',
  'name': 'Darryl Lucas',
  'profile_path': None},
 {'credit_id': '59ac05a4925141077e02c97e',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463274,
  'job': 'Makeup Artist',
  'name': 'Annabelle MacNeal',
  'profile_path': None},
 {'credit_id': '59ac05c6925141076502d106',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881586,
  'job': 'Makeup Artist',
  'name': 'Marina Savva',
  'profile_path': None},
 {'credit_id': '59ac0615c3a3682c480296aa',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1406267,
  'job': 'Hairstylist',
  'name': 'Carl G. Variste',
  'profile_path': None},
 {'credit_id': '59ac06ba925141076502d1fa',
  'department': 'Directing',
  'gender': 0,
  'id': 1798593,
  'job': 'First Assistant Director',
  'name': 'Josh King',
  'profile_path': None},
 {'credit_id': '59ac06f1c3a3682c2202aca0',
  'department': 'Art',
  'gender': 0,
  'id': 1415083,
  'job': 'Greensman',
  'name': 'Scott C. Bivona',
  'profile_path': None},
 {'credit_id': '59ac072c925141076502d260',
  'department': 'Art',
  'gender': 0,
  'id': 1881587,
  'job': 'Title Designer',
  'name': 'Eunha Choi',
  'profile_path': None},
 {'credit_id': '59ac077c925141077e02cb62',
  'department': 'Art',
  'gender': 0,
  'id': 1585302,
  'job': 'Construction Coordinator',
  'name': 'Daniel Coe',
  'profile_path': None},
 {'credit_id': '59ac07e0925141078a02d842',
  'department': 'Art',
  'gender': 0,
  'id': 1495523,
  'job': 'Set Designer',
  'name': 'Spencer Davison',
  'profile_path': None},
 {'credit_id': '59ac0862925141072f02cf6f',
  'department': 'Art',
  'gender': 0,
  'id': 1881589,
  'job': 'Painter',
  'name': 'Sonia L. Garcia',
  'profile_path': None},
 {'credit_id': '59ac08e0c3a3682bf0028e51',
  'department': 'Art',
  'gender': 0,
  'id': 1424896,
  'job': 'Art Department Coordinator',
  'name': 'Caleb Guillotte',
  'profile_path': None},
 {'credit_id': '59ac0920c3a3682c2202af36',
  'department': 'Art',
  'gender': 0,
  'id': 1393375,
  'job': 'Leadman',
  'name': "Pat A. O'Connor",
  'profile_path': None},
 {'credit_id': '59ac095592514107af02cc39',
  'department': 'Art',
  'gender': 0,
  'id': 1881592,
  'job': 'Set Designer',
  'name': 'Brendan Turrill',
  'profile_path': None},
 {'credit_id': '59ac0989925141072302bdfa',
  'department': 'Art',
  'gender': 2,
  'id': 76497,
  'job': 'Property Master',
  'name': 'Brook Yeaton',
  'profile_path': None},
 {'credit_id': '59ac0a2cc3a3682c9c02add1',
  'department': 'Sound',
  'gender': 0,
  'id': 1881596,
  'job': 'Boom Operator',
  'name': 'Matthew Armstrong',
  'profile_path': None},
 {'credit_id': '59ac0aa8925141072f02d282',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 1558086,
  'job': 'Special Effects Supervisor',
  'name': 'Matt Kutcher',
  'profile_path': None},
 {'credit_id': '59ac0b2ac3a3682c2202b192',
  'department': 'Crew',
  'gender': 2,
  'id': 1558087,
  'job': 'Special Effects Coordinator',
  'name': 'Eric Roberts',
  'profile_path': None},
 {'credit_id': '59ac0b7ac3a3682c2202b1fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1392098,
  'job': 'Visual Effects Supervisor',
  'name': 'Rocco Passionino',
  'profile_path': None},
 {'credit_id': '59ac0bbe925141077e02d0c4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1558716,
  'job': 'Visual Effects Coordinator',
  'name': 'Joseph Payo',
  'profile_path': None},
 {'credit_id': '59ac0bf2c3a3682cc802cefa',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1408784,
  'job': 'Visual Effects Producer',
  'name': 'Chris Roff',
  'profile_path': None},
 {'credit_id': '59ac0c51c3a3682c48029d99',
  'department': 'Lighting',
  'gender': 0,
  'id': 1881600,
  'job': 'Best Boy Electric',
  'name': 'Ulyan Atamanyuk',
  'profile_path': None},
 {'credit_id': '59ac0cbac3a3682c0a02cff6',
  'department': 'Camera',
  'gender': 0,
  'id': 1881602,
  'job': 'Key Grip',
  'name': 'Chris Ekstrom',
  'profile_path': None},
 {'credit_id': '59ac0d54925141072f02d5e6',
  'department': 'Lighting',
  'gender': 0,
  'id': 1484984,
  'job': 'Best Boy Electric',
  'name': 'Brad Garris',
  'profile_path': None},
 {'credit_id': '59ac0db0925141078a02df86',
  'department': 'Camera',
  'gender': 0,
  'id': 1881603,
  'job': 'Dolly Grip',
  'name': 'Kendell Joseph',
  'profile_path': None},
 {'credit_id': '59ac0e5a925141077e02d39f',
  'department': 'Camera',
  'gender': 0,
  'id': 1549179,
  'job': 'Dolly Grip',
  'name': 'Spencer Wilcox',
  'profile_path': None},
 {'credit_id': '59ac0e9f925141079d02bee6',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1552626,
  'job': 'Key Costumer',
  'name': 'Sarah P. Koeppe',
  'profile_path': None},
 {'credit_id': '59ac0ec1c3a3682bf0029524',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881605,
  'job': 'Seamstress',
  'name': 'Catherine Rodi',
  'profile_path': None},
 {'credit_id': '59ac0eef925141070702c7ff',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463801,
  'job': 'Seamstress',
  'name': 'Giselle Spence',
  'profile_path': None},
 {'credit_id': '59ac0f5dc3a3682c4802a0f5',
  'department': 'Production',
  'gender': 0,
  'id': 1400837,
  'job': 'Location Manager',
  'name': 'John A. Johnston',
  'profile_path': None},
 {'credit_id': '59ac0ff2c3a3682c4802a196',
  'department': 'Crew',
  'gender': 0,
  'id': 1844322,
  'job': 'Production Controller',
  'name': 'Gail Marks',
  'profile_path': None}]

In [408]:
print(df1.loc[0,'cast'])

[{'cast_id': 4, 'character': 'Lou', 'credit_id': '52fe4ee7c3a36847f82afae7', 'gender': 2, 'id': 52997, 'name': 'Rob Corddry', 'order': 0, 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'cast_id': 5, 'character': 'Nick', 'credit_id': '52fe4ee7c3a36847f82afaeb', 'gender': 2, 'id': 64342, 'name': 'Craig Robinson', 'order': 1, 'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'}, {'cast_id': 6, 'character': 'Jacob', 'credit_id': '52fe4ee7c3a36847f82afaef', 'gender': 2, 'id': 54729, 'name': 'Clark Duke', 'order': 2, 'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'}, {'cast_id': 7, 'character': 'Adam Jr.', 'credit_id': '52fe4ee7c3a36847f82afaf3', 'gender': 2, 'id': 36801, 'name': 'Adam Scott', 'order': 3, 'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'}, {'cast_id': 8, 'character': 'Hot Tub Repairman', 'credit_id': '52fe4ee7c3a36847f82afaf7', 'gender': 2, 'id': 54812, 'name': 'Chevy Chase', 'order': 4, 'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'}, {'cast_id': 9, 'character': 'Jill', 'credit_id': '52fe4ee7c3a36847f82afafb', 'gender': 1, 'id': 94098, 'name': 'Gillian Jacobs', 'order': 5, 'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'}, {'cast_id': 10, 'character': 'Sophie', 'credit_id': '52fe4ee7c3a36847f82afaff', 'gender': 1, 'id': 1159009, 'name': 'Bianca Haase', 'order': 6, 'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'}, {'cast_id': 11, 'character': 'Kelly', 'credit_id': '5524ec51c3a3687df3000dbb', 'gender': 1, 'id': 86624, 'name': 'Collette Wolfe', 'order': 7, 'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'}, {'cast_id': 13, 'character': 'Brad', 'credit_id': '5524ec8ec3a3687ded000d72', 'gender': 2, 'id': 466505, 'name': 'Kumail Nanjiani', 'order': 9, 'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'}, {'cast_id': 14, 'character': 'Courtney', 'credit_id': '5524ec9bc3a3687df8000d13', 'gender': 1, 'id': 70776, 'name': 'Kellee Stewart', 'order': 10, 'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'}, {'cast_id': 15, 'character': 'Terry', 'credit_id': '5524eca892514171cb008237', 'gender': 2, 'id': 347335, 'name': 'Josh Heald', 'order': 11, 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'cast_id': 16, 'character': 'Susan', 'credit_id': '5524ecb7925141720c001116', 'gender': 0, 'id': 1451392, 'name': 'Gretchen Koerner', 'order': 12, 'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'}, {'cast_id': 17, 'character': 'Herself', 'credit_id': '5524ecc3c3a3687ded000d74', 'gender': 1, 'id': 98879, 'name': 'Lisa Loeb', 'order': 13, 'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'}, {'cast_id': 18, 'character': 'Herself', 'credit_id': '5524ecd3c3a3687e11000ed3', 'gender': 1, 'id': 1394648, 'name': 'Jessica Williams', 'order': 14, 'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'}, {'cast_id': 19, 'character': 'Himself', 'credit_id': '5524ece6925141718d001009', 'gender': 0, 'id': 1451393, 'name': 'Bruce Buffer', 'order': 15, 'profile_path': None}, {'cast_id': 20, 'character': 'Shot Girl', 'credit_id': '5524ecf5c3a3687e08000dc2', 'gender': 0, 'id': 1451394, 'name': 'Mariana Paola Vicente', 'order': 16, 'profile_path': '/ckPllza8624UHWGHCbLShkLxCD1.jpg'}, {'cast_id': 33, 'character': 'Choozy Doozy Host', 'credit_id': '555844da9251412afe0013a9', 'gender': 2, 'id': 2224, 'name': 'Christian Slater', 'order': 17, 'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'}, {'cast_id': 35, 'character': 'Gary Winkle', 'credit_id': '55872027c3a3683853005074', 'gender': 0, 'id': 185805, 'name': 'Jason Jones', 'order': 18, 'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'}, {'cast_id': 36, 'character': 'Bridesmaid', 'credit_id': '55efe971c3a368090c00cd1b', 'gender': 0, 'id': 1507448, 'name': 'Olivia Jordan', 'order': 19, 'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'}, {'cast_id': 37, 'character': 'Christine', 'credit_id': '55efe980c3a36871bf008176', 'gender': 1, 'id': 1334091, 'name': 'Christine Bently', 'order': 20, 'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'}, {'cast_id': 38, 'character': 'Excited Girl', 'credit_id': '55efe98e9251413e3201d316', 'gender': 0, 'id': 557803, 'name': 'Stacey Asaro', 'order': 21, 'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'}, {'cast_id': 64, 'character': 'Adam (uncredited)', 'credit_id': '58f2135ac3a3682e95008b91', 'gender': 2, 'id': 3036, 'name': 'John Cusack', 'order': 22, 'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'}, {'cast_id': 65, 'character': 'J-Bird', 'credit_id': '59ac0240c3a3682cc802c399', 'gender': 2, 'id': 59256, 'name': 'Adam Herschman', 'order': 23, 'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'}, {'cast_id': 66, 'character': 'Bridesmaid', 'credit_id': '59ac02cd925141079d02b1b4', 'gender': 1, 'id': 129714, 'name': 'Kisha Sierra', 'order': 24, 'profile_path': None}]

**Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.**

In [409]:
df1.describe()

             budget       revenue
count  2.978000e+03  2.978000e+03
mean   2.229256e+07  6.570459e+07
std    3.655376e+07  1.350115e+08
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  2.402165e+06
50%    8.000000e+06  1.680707e+07
75%    2.800000e+07  6.866567e+07
max    3.800000e+08  1.519558e+09

In [410]:
#Replacing extremely low values of budget and revenue with median values:
df1.loc[df1['budget']< 1000,'budget'] = df1.loc[df1['budget']>=1000,'budget'].median()
df1.loc[df1['revenue']< 1000,'revenue'] = df1.loc[df1['revenue']>=1000,'revenue'].median()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [411]:
df1.describe()

             budget       revenue
count  2.978000e+03  2.978000e+03
mean   2.672506e+07  6.603292e+07
std    3.449315e+07  1.348725e+08
min    2.500000e+03  1.404000e+03
25%    1.000000e+07  2.984246e+06
50%    1.600000e+07  1.745985e+07
75%    2.800000e+07  6.866567e+07
max    3.800000e+08  1.519558e+09

Profit can be calculated as the difference between revnue and budget

In [412]:
df1['profit']=df1['revenue']-df1['budget']
df1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000
4,16000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12076030

In [413]:
max_profit = df1['profit'].max()
max_profit

1316249360

In [414]:
max_profit_movie=df1[df1['profit']==max_profit]
max_profit_movie

,budget,genres,imdb_id,original_language,original_title,cast,crew,revenue,profit
1761,190000000,"[{'id': 28, 'name': 'Action'}]",tt2820852,en,Furious 7,"[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360,1316249360

In [415]:
crew_list=max_profit_movie.iloc[0]['crew']

In [416]:
producer_list=[]
director_list=[]


for elem in crew_list:
  if elem['job']== 'Producer':
    producer_list.append(elem['name'])
    print(elem['name'], "is a Producer" )

  if elem['job']== 'Director':
    director_list.append(elem['name'])
    print(elem['name'], "is a Director" )

Vin Diesel is a Producer
Neal H. Moritz is a Producer
James Wan is a Director
Michael Fottrell is a Producer
Brandon Birtell is a Producer

In [417]:
cast_list=max_profit_movie.iloc[0]['cast']

In [418]:
actor_list=[]
for elem in cast_list:
  actor_list.append(elem['name'])

In [419]:
actor_list

['Vin Diesel',
 'Paul Walker',
 'Dwayne Johnson',
 'Michelle Rodriguez',
 'Tyrese Gibson',
 'Ludacris',
 'Jordana Brewster',
 'Djimon Hounsou',
 'Tony Jaa',
 'Ronda Rousey',
 'Nathalie Emmanuel',
 'Kurt Russell',
 'Jason Statham',
 'Sung Kang',
 'Gal Gadot',
 'Lucas Black',
 'Elsa Pataky',
 'Noel Gugliemi',
 'John Brotherton',
 'Luke Evans',
 'Ali Fazal',
 'Miller Kimsey',
 'Charlie Kimsey',
 'Eden Estrella',
 'Gentry White',
 'Iggy Azalea',
 'Jon Lee Brody',
 'Levy Tran',
 'Anna Colwell',
 'Viktor Hernandez',
 'Steve Coulter',
 'Robert Pralgo',
 'Antwan Mills',
 'J.J. Phillips',
 'Jorge Ferragut',
 'Sara Sohn',
 'Benjamin Blankenship',
 'D.J. Hapa',
 'T-Pain',
 'Brian Mahoney',
 'Brittney Alger',
 'Romeo Santos',
 'Jocelin Donahue',
 'Stephanie Langston',
 'Jorge-Luis Pallo',
 'Tego Calder√≥n',
 'Nathalie Kelley',
 'Shad Moss',
 'Don Omar',
 'Klement Tinaj',
 'Caleb Walker',
 'Cody Walker']

## **2):This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?**

In [420]:
#calculating Roi
df1['ROI']=100 * df1['profit']/df1['budget']
df1.head()
df1.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(2978, 10)

In [421]:
max_roi = df1['ROI'].max()
max_roi

1288938.6666666667

In [422]:
#Creating grouped DF
ROI_lang_df= df1.groupby(['original_language'])['ROI'].mean().reset_index()
ROI_lang_df

   original_language           ROI
0                 ar    -91.576581
1                 bn    -96.647725
2                 cn     88.152805
3                 cs    -99.891294
4                 da     24.931714
5                 de    547.213654
6                 el   5198.013245
7                 en    935.719623
8                 es    103.824266
9                 fa      3.326157
10                fi    -30.319235
11                fr     52.363700
12                he    456.292450
13                hi    249.879417
14                hu    -95.530140
15                id    -41.617578
16                it     20.751294
17                ja    125.112630
18                ko  11278.797018
19                ml    370.833333
20                mr    193.333333
21                nb     18.847943
22                nl    -23.892339
23                no     24.158478
24                pl    395.816987
25                pt    -29.273855
26                ro    -62.181225
27                ru    124.739515
28                sr   3391.969400
29                sv     27.860684
30                ta    159.856590
31                te    440.076812
32                tr    567.125469
33                ur    350.673773
34                vi    -50.846154
35                zh    310.043672

In [423]:
max_roi_lan=ROI_lang_df[ROI_lang_df['ROI']==ROI_lang_df['ROI'].max()]['original_language']

In [424]:
print(f'The Language which has the highest average ROI is {max_roi_lan.values}')

The Language which has the highest average ROI is ['ko']

## **3)Find out the unique genres in data set**

In [425]:
#Create a no null values data frame of genre
no_null_genres_df = df[~df['genres'].isna()]
len(no_null_genres_df)
no_null_genres_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [426]:
df.iloc[0]['genres']

"[{'id': 35, 'name': 'Comedy'}]"

In [427]:
no_null_genres_df.loc[~no_null_genres_df['genres'].isnull(),'genres'] = no_null_genres_df.loc[~no_null_genres_df['genres'].isnull(),'genres'] .apply(convert_str_to_list)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [428]:
no_null_genres_df.iloc[0]['genres']

[{'id': 35, 'name': 'Comedy'}]

In [429]:
#Create the list of genres
genres_list=[]
for index,row in no_null_genres_df.iterrows():
  # genre_list = no_null_genres_df.loc[index, 'genres']
  genre_list = row['genres']
  for elem in genre_list :
    genres_list.append(elem['name'])

In [430]:
genres_list

['Comedy',
 'Comedy',
 'Drama',
 'Family',
 'Romance',
 'Drama',
 'Thriller',
 'Drama',
 'Action',
 'Thriller',
 'Animation',
 'Adventure',
 'Family',
 'Horror',
 'Thriller',
 'Documentary',
 'Action',
 'Comedy',
 'Music',
 'Family',
 'Adventure',
 'Comedy',
 'Music',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Crime',
 'Action',
 'Thriller',
 'Science Fiction',
 'Mystery',
 'Action',
 'Crime',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Action',
 'Thriller',
 'Crime',
 'Adventure',
 'Family',
 'Science Fiction',
 'Horror',
 'Thriller',
 'Thriller',
 'Horror',
 'Thriller',
 'Mystery',
 'Foreign',
 'Horror',
 'Comedy',
 'Comedy',
 'Horror',
 'Mystery',
 'Thriller',
 'Crime',
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'Comedy',
 'Romance',
 'Animation',
 'Action',
 'Adventure',
 'Crime',
 'Thriller',
 'Drama',
 'Comedy',
 'Mystery',
 'Drama',
 'Thriller',
 'Fantasy',
 'Action',
 'Adventure',
 'Horror',
 'Action',
 'Comedy',
 'Crime',
 'Thriller',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Drama',
 'Science Fiction',
 'Thriller',
 'Thriller',
 'War',
 'Western',
 'Action',
 'Documentary',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Mystery',
 'Romance',
 'Thriller',
 'Animation',
 'Family',
 'Comedy',
 'Adventure',
 'Crime',
 'Drama',
 'Mystery',
 'Western',
 'Drama',
 'Comedy',
 'Science Fiction',
 'Action',
 'Adventure',
 'Thriller',
 'Romance',
 'Drama',
 'Comedy',
 'Adventure',
 'Comedy',
 'Adventure',
 'Family',
 'Drama',
 'Family',
 'Romance',
 'Action',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Action',
 'Crime',
 'Fantasy',
 'Music',
 'Romance',
 'Action',
 'Adventure',
 'Comedy',
 'Adventure',
 'Action',
 'Thriller',
 'Drama',
 'Thriller',
 'Fantasy',
 'Crime',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Adventure',
 'Action',
 'Crime',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Mystery',
 'Thriller',
 'Fantasy',
 'Drama',
 'Comedy',
 'Music',
 'Crime',
 'Documentary',
 'Crime',
 'Drama',
 'Horror',
 'Comedy',
 'Drama',
 'Romance',
 'Foreign',
 'Comedy',
 'Crime',
 'Drama',
 'Action',
 'Thriller',
 'Horror',
 'Thriller',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Horror',
 'Mystery',
 'Thriller',
 'Thriller',
 'Science Fiction',
 'Horror',
 'Mystery',
 'Action',
 'Adventure',
 'Drama',
 'Mystery',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Crime',
 'Action',
 'Comedy',
 'Thriller',
 'Drama',
 'History',
 'Drama',
 'Thriller',
 'Mystery',
 'Romance',
 'Action',
 'Crime',
 'Drama',
 'War',
 'Adventure',
 'Drama',
 'Romance',
 'Drama',
 'History',
 'Thriller',
 'Drama',
 'Mystery',
 'Drama',
 'Action',
 'Comedy',
 'Thriller',
 'Romance',
 'Fantasy',
 'Drama',
 'Animation',
 'Comedy',
 'Adventure',
 'Family',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Thriller',
 'Science Fiction',
 'Crime',
 'Horror',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Crime',
 'Foreign',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Action',
 'Drama',
 'History',
 'War',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Adventure',
 'Romance',
 'Action',
 'Comedy',
 'Crime',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Thriller',
 'Drama',
 'Adventure',
 'Action',
 'History',
 'Comedy',
 'Drama',
 'Romance',
 'Adventure',
 'Fantasy',
 'Action',
 'Action',
 'Comedy',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Romance',
 'Crime',
 'Action',
 'Comedy',
 'Action',
 'Comedy',
 'Crime',
 'Thriller',
 'Adventure',
 'Animation',
 'Drama',
 'Family',
 'Action',
 'Comedy',
 'Crime',
 'Mystery',
 'Thriller',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'War',
 'Action',
 'Adventure',
 'Comedy',
 'Horror',
 'Drama',
 'Thriller',
 'Mystery',
 'Horror',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Documentary',
 'History',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Adventure',
 'Comedy',
 'Drama',
 'Drama',
 'Family',
 'Comedy',
 'Thriller',
 'Adventure',
 'Action',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Music',
 'Romance',
 'Drama',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Horror',
 'Crime',
 'Thriller',
 'Drama',
 'Mystery',
 'Romance',
 'Comedy',
 'Crime',
 'Action',
 'Science Fiction',
 'Drama',
 'Comedy',
 'Family',
 'Thriller',
 'Adventure',
 'Drama',
 'Adventure',
 'Drama',
 'Western',
 'Documentary',
 'Drama',
 'Fantasy',
 'Horror',
 'Thriller',
 'Action',
 'Crime',
 'Thriller',
 'Adventure',
 'Fantasy',
 'Animation',
 'Family',
 'Action',
 'Action',
 'Adventure',
 'Science Fiction',
 'Action',
 'Drama',
 'Thriller',
 'Crime',
 'Action',
 'Western',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Thriller',
 'Horror',
 'Fantasy',
 'Action',
 'Comedy',
 'Science Fiction',
 'Romance',
 'Documentary',
 'Music',
 'Crime',
 'Drama',
 'Horror',
 'Thriller',
 'Mystery',
 'Comedy',
 'Crime',
 'Adventure',
 'Action',
 'Thriller',
 'Science Fiction',
 'Comedy',
 'Crime',
 'Crime',
 'Drama',
 'Mystery',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Crime',
 'Mystery',
 'Adventure',
 'Comedy',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Thriller',
 'War',
 'Adventure',
 'Action',
 'Thriller',
 'Thriller',
 'Crime',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Adventure',
 'Drama',
 'Action',
 'Comedy',
 'Drama',
 'Fantasy',
 'Romance',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Mystery',
 'Animation',
 'Family',
 'Drama',
 'Comedy',
 'Horror',
 'Thriller',
 'Science Fiction',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Horror',
 'Action',
 'Thriller',
 'Crime',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Comedy',
 'Family',
 'Fantasy',
 'Music',
 'Comedy',
 'Drama',
 'Romance',
 'Science Fiction',
 'Animation',
 'Comedy',
 'Family',
 'Animation',
 'Comedy',
 'Family',
 'Horror',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Science Fiction',
 'Family',
 'Fantasy',
 'Fantasy',
 'Horror',
 'Science Fiction',
 'Western',
 'Adventure',
 'Horror',
 'Comedy',
 'Horror',
 'Thriller',
 'Adventure',
 'Action',
 'Comedy',
 'Family',
 'Action',
 'Thriller',
 'Crime',
 'Drama',
 'Comedy',
 'Crime',
 'Fantasy',
 'Animation',
 'Family',
 'Action',
 'Comedy',
 'Comedy',
 'Documentary',
 'Drama',
 'History',
 'War',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Thriller',
 'Mystery',
 'Comedy',
 'Action',
 'Adventure',
 'Drama',
 'History',
 'Fantasy',
 'Thriller',
 'Action',
 'Crime',
 'Drama',
 'Romance',
 'Adventure',
 'Western',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Western',
 'Documentary',
 'Action',
 'Adventure',
 'Drama',
 'History',
 'Adventure',
 'Family',
 'Horror',
 'Comedy',
 'Comedy',
 'Fantasy',
 'Drama',
 'Thriller',
 'Mystery',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Music',
 'Action',
 'Drama',
 'Animation',
 'Music',
 'Family',
 'Animation',
 'Comedy',
 'Drama',
 'Romance',
 'Romance',
 'Comedy',
 'Horror',
 'Comedy',
 'Adventure',
 'Romance',
 'Romance',
 'Comedy',
 'Crime',
 'Fantasy',
 'Drama',
 'History',
 'War',
 'Action',
 'Crime',
 'Thriller',
 'Mystery',
 'Comedy',
 'Action',
 'Adventure',
 'Comedy',
 'Horror',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Adventure',
 'Drama',
 'Drama',
 'Action',
 'Western',
 'Music',
 'Romance',
 'Action',
 'Animation',
 'Science Fiction',
 'Drama',
 'Drama',
 'Family',
 'Comedy',
 'Drama',
 'Romance',
 'Science Fiction',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Adventure',
 'Drama',
 'Comedy',
 'Adventure',
 'Action',
 'Family',
 'Documentary',
 'Foreign',
 'Music',
 'Family',
 'Comedy',
 'Comedy',
 'Action',
 'Thriller',
 'Family',
 'Comedy',
 'Comedy',
 'Romance',
 'Documentary',
 'Horror',
 'Fantasy',
 'Thriller',
 'Action',
 'Adventure',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Crime',
 'Thriller',
 'Horror',
 'Thriller',
 'Horror',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Science Fiction',
 'Thriller',
 'Adventure',
 'Horror',
 'Thriller',
 'Thriller',
 'Comedy',
 'Crime',
 'Romance',
 'Action',
 'Drama',
 'Animation',
 'Drama',
 'Family',
 'Fantasy',
 'Comedy',
 'Drama',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'War',
 'Action',
 'Drama',
 'Foreign',
 'History',
 'Thriller',
 'Action',
 'Adventure',
 'Science Fiction',
 'Action',
 'Fantasy',
 'Science Fiction',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Comedy',
 'Fantasy',
 'Action',
 'Comedy',
 'Science Fiction',
 'Action',
 'Horror',
 'Comedy',
 'Romance',
 'Comedy',
 'Music',
 'Romance',
 'Drama',
 'Thriller',
 'Action',
 'War',
 'Drama',
 'History',
 'Crime',
 'Family',
 'Fantasy',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Mystery',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Family',
 'Comedy',
 'Animation',
 'Adventure',
 'Crime',
 'Drama',
 'Mystery',
 'Animation',
 'Adventure',
 'Family',
 'Comedy',
 'Science Fiction',
 'Action',
 'Drama',
 'Thriller',
 'Fantasy',
 'Mystery',
 'Thriller',
 'Crime',
 'Drama',
 'Romance',
 'Thriller',
 'Action',
 'Thriller',
 'Adventure',
 'Fantasy',
 'Drama',
 'Comedy',
 'Science Fiction',
 'Family',
 'Western',
 'Drama',
 'Adventure',
 'Thriller',
 'Drama',
 'Action',
 'Thriller',
 'Crime',
 'Action',
 'Comedy',
 'Romance',
 'Comedy',
 'Family',
 'Fantasy',
 'Comedy',
 'Action',
 'Thriller',
 'Crime',
 'Drama',
 'Drama',
 'Romance',
 'Animation',
 'Comedy',
 'Romance',
 'Adventure',
 'Drama',
 'Action',
 'History',
 'Comedy',
 'Drama',
 'Romance',
 'War',
 'Action',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Thriller',
 'Crime',
 'Mystery',
 'Drama',
 'Fantasy',
 'Drama',
 'Drama',
 'History',
 'Comedy',
 'Drama',
 'Mystery',
 'Thriller',
 'Crime',
 'Comedy',
 'Romance',
 'War',
 'Drama',
 'Action',
 'Action',
 'Drama',
 'Thriller',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Fantasy',
 'Drama',
 'Comedy',
 'Family',
 'Adventure',
 'Adventure',
 'Animation',
 'Fantasy',
 'Documentary',
 'Drama',
 'Action',
 'Adventure',
 'Action',
 'Thriller',
 'Comedy',
 'Action',
 'Comedy',
 'Action',
 'Crime',
 'Documentary',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Mystery',
 'Family',
 'Animation',
 'Drama',
 'Action',
 'War',
 'Science Fiction',
 'Fantasy',
 'Drama',
 'Family',
 'Documentary',
 'Adventure',
 'Action',
 'Comedy',
 'Crime',
 'Drama',
 'War',
 'Drama',
 'Romance',
 'Drama',
 'Thriller',
 'Science Fiction',
 'Drama',
 'Thriller',
 'Drama',
 'Family',
 'Adventure',
 'Comedy',
 'Fantasy',
 'Drama',
 'Comedy',
 'Romance',
 'Thriller',
 'Horror',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Foreign',
 'Action',
 'Drama',
 'Thriller',
 'War',
 'Comedy',
 'Thriller',
 'Drama',
 'Horror',
 'Science Fiction',
 'Science Fiction',
 'Animation',
 'Family',
 'Drama',
 'Thriller',
 'Crime',
 'Animation',
 'Family',
 'Adventure',
 'Drama',
 'Music',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Drama',
 'Family',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Romance',
 'Drama',
 'Family',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Comedy',
 'Adventure',
 'Drama',
 'History',
 'Drama',
 'Family',
 'Comedy',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Documentary',
 'Drama',
 'Horror',
 'Science Fiction',
 'Thriller',
 'Action',
 'Adventure',
 'Drama',
 ...]

In [431]:
print(f'This are all the unique genres in dataset: \n {set(genres_list)}')

This are all the unique genres in dataset:
 {'Action', 'Music', 'Adventure', 'Comedy', 'Horror', 'Thriller', 'TV Movie', 'Drama', 'Crime', 'Foreign', 'War', 'Mystery', 'History', 'Romance', 'Animation', 'Science Fiction', 'Family', 'Western', 'Fantasy', 'Documentary'}

# **4)Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?**

In [432]:
df1['crew'].shape

(2978,)

In [433]:
#Creating a function which returns the listr of producers and directors for each movie
def get_producers_and_directors(row):
  try:
    #Initialize two lists for producers and directors
    producer_list=[]
    director_list=[]

    #iterate over the list elements
    for elem in row:
      if elem['job']=='Producer':
        producer_list.append(elem['name'])
      if elem['job']=='Director':
        director_list.append(elem['name'])

    # row['producers'] = producer_list
    # row['directors'] = director_list  
    return producer_list, director_list
  except:
    return None

In [434]:
#create no null values crew column
df1 = df[~df['crew'].isna()]

In [435]:
#Convert no_null_crew_df from string to list
df1.loc[~df1['crew'].isnull(),'crew'] = df1.loc[~df1['crew'].isnull(),'crew'] .apply(convert_str_to_list)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [436]:
df1.iloc[1]['crew']

[{'credit_id': '52fe43fe9251416c7502563d',
  'department': 'Directing',
  'gender': 2,
  'id': 1201,
  'job': 'Director',
  'name': 'Garry Marshall',
  'profile_path': '/kx77E8p5rnEmKxIhFT0qWCEMEik.jpg'},
 {'credit_id': '52fe43fe9251416c75025667',
  'department': 'Camera',
  'gender': 2,
  'id': 1214,
  'job': 'Director of Photography',
  'name': 'Charles Minsky',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c75025661',
  'department': 'Sound',
  'gender': 2,
  'id': 4500,
  'job': 'Original Music Composer',
  'name': 'John Debney',
  'profile_path': '/hTrlvZlDXQk49nfc2BM9sjKfJv.jpg'},
 {'credit_id': '52fe43fe9251416c7502564f',
  'department': 'Production',
  'gender': 1,
  'id': 8851,
  'job': 'Producer',
  'name': 'Whitney Houston',
  'profile_path': '/69ouDnXnmklYPr4sMJXWKYz81AL.jpg'},
 {'credit_id': '52fe43fe9251416c7502566d',
  'department': 'Editing',
  'gender': 0,
  'id': 12970,
  'job': 'Editor',
  'name': 'Bruce Green',
  'profile_path': '/yplxWPVgwK1b33AjvbhM9mWX2Aw.jpg'},
 {'credit_id': '52fe43fe9251416c75025655',
  'department': 'Production',
  'gender': 2,
  'id': 38415,
  'job': 'Producer',
  'name': 'Mario Iscovich',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c7502565b',
  'department': 'Production',
  'gender': 1,
  'id': 38416,
  'job': 'Executive Producer',
  'name': 'Ellen H. Schwartz',
  'profile_path': '/6WInjABr1sAYGXaa5qOvSrsHIqP.jpg'},
 {'credit_id': '52fe43fe9251416c75025649',
  'department': 'Production',
  'gender': 1,
  'id': 59973,
  'job': 'Producer',
  'name': 'Debra Martin Chase',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c75025643',
  'department': 'Writing',
  'gender': 1,
  'id': 25539,
  'job': 'Screenplay',
  'name': 'Shonda Rhimes',
  'profile_path': '/4c77e347InbTAlw9lGvORpZBHV6.jpg'}]

In [437]:
get_producers_and_directors(df1.iloc[1]['crew'])

(['Whitney Houston', 'Mario Iscovich', 'Debra Martin Chase'],
 ['Garry Marshall'])

In [438]:
df1[["producers","directors"]] = df1.apply(lambda row: get_producers_and_directors(row['crew']), axis=1, result_type='expand')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [439]:
df1.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,producers,directors
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,[Andrew Panay],[Steve Pink]
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,"[Whitney Houston, Mario Iscovich, Debra Martin...",[Garry Marshall]
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,"[David Lancaster, Michel Litvak, Jason Blum, H...",[Damien Chazelle]
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,[Sujoy Ghosh],[Sujoy Ghosh]
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,[],[Jong-seok Yoon]

In [440]:
df1['producers']

0                                          [Andrew Panay]
1       [Whitney Houston, Mario Iscovich, Debra Martin...
2       [David Lancaster, Michel Litvak, Jason Blum, H...
3                                           [Sujoy Ghosh]
4                                                      []
                              ...
2995                                  [James G. Robinson]
2996                                      [Lars J√∂nsson]
2997    [Stephanie Austin, Shane Black, Renny Harlin, ...
2998        [Danny DeVito, Michael Shamberg, Stacey Sher]
2999    [Doug Davison, Roy Lee, Ellen Goldsmith-Vein, ...
Name: producers, Length: 2984, dtype: object

In [441]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2984 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2984 non-null   int64
 1   belongs_to_collection  599 non-null    object
 2   budget                 2984 non-null   int64
 3   genres                 2978 non-null   object
 4   homepage               938 non-null    object
 5   imdb_id                2984 non-null   object
 6   original_language      2984 non-null   object
 7   original_title         2984 non-null   object
 8   overview               2977 non-null   object
 9   popularity             2984 non-null   float64
 10  poster_path            2984 non-null   object
 11  production_companies   2829 non-null   object
 12  production_countries   2930 non-null   object
 13  release_date           2984 non-null   object
 14  runtime                2983 non-null   float64
 15  spoken_languages       2965 non-null   object
 16  status                 2984 non-null   object
 17  tagline                2390 non-null   object
 18  title                  2984 non-null   object
 19  Keywords               2710 non-null   object
 20  cast                   2984 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                2984 non-null   int64
 23  producers              2984 non-null   object
 24  directors              2984 non-null   object
dtypes: float64(2), int64(3), object(20)
memory usage: 606.1+ KB

In [442]:
df1["revenue"].fillna(df['revenue'].mean(), inplace = True)
df1['revenue'].describe()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

count    2.984000e+03
mean     6.557453e+07
std      1.349068e+08
min      1.000000e+00
25%      2.354926e+06
50%      1.672819e+07
75%      6.852923e+07
max      1.519558e+09
Name: revenue, dtype: float64

In [443]:
df1["budget"].fillna(df['budget'].mean(), inplace = True)
df1['budget'].describe()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

count    2.984000e+03
mean     2.224900e+07
std      3.652989e+07
min      0.000000e+00
25%      0.000000e+00
50%      8.000000e+06
75%      2.800000e+07
max      3.800000e+08
Name: budget, dtype: float64

In [444]:
df1['profit']=df1['revenue']-df1['budget']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [445]:
for i in df['budget']:
  if i == 0:
    df1['ROI']=100 * df1['profit']/df1['budget'].mean()
  else:
    df1['ROI']=100 * df1['profit']/df1['budget'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [446]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2984 entries, 0 to 2999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2984 non-null   int64
 1   belongs_to_collection  599 non-null    object
 2   budget                 2984 non-null   int64
 3   genres                 2978 non-null   object
 4   homepage               938 non-null    object
 5   imdb_id                2984 non-null   object
 6   original_language      2984 non-null   object
 7   original_title         2984 non-null   object
 8   overview               2977 non-null   object
 9   popularity             2984 non-null   float64
 10  poster_path            2984 non-null   object
 11  production_companies   2829 non-null   object
 12  production_countries   2930 non-null   object
 13  release_date           2984 non-null   object
 14  runtime                2983 non-null   float64
 15  spoken_languages       2965 non-null   object
 16  status                 2984 non-null   object
 17  tagline                2390 non-null   object
 18  title                  2984 non-null   object
 19  Keywords               2710 non-null   object
 20  cast                   2984 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                2984 non-null   int64
 23  producers              2984 non-null   object
 24  directors              2984 non-null   object
 25  profit                 2984 non-null   int64
 26  ROI                    2984 non-null   float64
dtypes: float64(3), int64(4), object(20)
memory usage: 652.8+ KB

In [447]:
df1['ROI'].describe()

count    2984.000000
mean      194.730151
std       495.337217
min      -417.528907
25%         0.080687
50%        27.381618
75%       184.911886
max      5915.992042
Name: ROI, dtype: float64

In [448]:
columns_req=['producers','directors','ROI']

In [449]:
df2 =  pd.DataFrame((df1[columns_req]))
df2.head()

,producers,directors,ROI
0,[Andrew Panay],[Steve Pink],-7.574941
1,"[Whitney Houston, Mario Iscovich, Debra Martin...",[Garry Marshall],247.873715
2,"[David Lancaster, Michel Litvak, Jason Blum, H...",[Damien Chazelle],44.010957
3,[Sujoy Ghosh],[Sujoy Ghosh],66.519829
4,[],[Jong-seok Yoon],17.636609

In [450]:
df3 = df2.explode(['directors']).explode(['producers'])
df3

                 producers        directors         ROI
0             Andrew Panay       Steve Pink   -7.574941
1          Whitney Houston   Garry Marshall  247.873715
1           Mario Iscovich   Garry Marshall  247.873715
1       Debra Martin Chase   Garry Marshall  247.873715
2          David Lancaster  Damien Chazelle   44.010957
...                    ...              ...         ...
2999          Doug Davison   John Singleton  211.637128
2999               Roy Lee   John Singleton  211.637128
2999  Ellen Goldsmith-Vein   John Singleton  211.637128
2999           Dan Lautner   John Singleton  211.637128
2999          Lee Stollman   John Singleton  211.637128

[7331 rows x 3 columns]

In [451]:
df4=df3.groupby(['producers'])['ROI'].mean().sort_values(ascending = False)

In [452]:
print(f'These are the top three producers with max ROI: \n {df4.iloc[:3]}')

These are the top three producers with max ROI:
 producers
Brandon Birtell          5915.992042
Kenny Bates              4174.330491
Katterli Frauenfelder    3710.238338
Name: ROI, dtype: float64

## **Q5) Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.**

In [494]:
no_null_cast_df = df[~df['cast'].isna()]

no_null_cast_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [495]:
no_null_cast_df.iloc[0]['cast']

"[{'cast_id': 4, 'character': 'Lou', 'credit_id': '52fe4ee7c3a36847f82afae7', 'gender': 2, 'id': 52997, 'name': 'Rob Corddry', 'order': 0, 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'cast_id': 5, 'character': 'Nick', 'credit_id': '52fe4ee7c3a36847f82afaeb', 'gender': 2, 'id': 64342, 'name': 'Craig Robinson', 'order': 1, 'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'}, {'cast_id': 6, 'character': 'Jacob', 'credit_id': '52fe4ee7c3a36847f82afaef', 'gender': 2, 'id': 54729, 'name': 'Clark Duke', 'order': 2, 'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'}, {'cast_id': 7, 'character': 'Adam Jr.', 'credit_id': '52fe4ee7c3a36847f82afaf3', 'gender': 2, 'id': 36801, 'name': 'Adam Scott', 'order': 3, 'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'}, {'cast_id': 8, 'character': 'Hot Tub Repairman', 'credit_id': '52fe4ee7c3a36847f82afaf7', 'gender': 2, 'id': 54812, 'name': 'Chevy Chase', 'order': 4, 'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'}, {'cast_id': 9, 'character': 'Jill', 'credit_id': '52fe4ee7c3a36847f82afafb', 'gender': 1, 'id': 94098, 'name': 'Gillian Jacobs', 'order': 5, 'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'}, {'cast_id': 10, 'character': 'Sophie', 'credit_id': '52fe4ee7c3a36847f82afaff', 'gender': 1, 'id': 1159009, 'name': 'Bianca Haase', 'order': 6, 'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'}, {'cast_id': 11, 'character': 'Kelly', 'credit_id': '5524ec51c3a3687df3000dbb', 'gender': 1, 'id': 86624, 'name': 'Collette Wolfe', 'order': 7, 'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'}, {'cast_id': 13, 'character': 'Brad', 'credit_id': '5524ec8ec3a3687ded000d72', 'gender': 2, 'id': 466505, 'name': 'Kumail Nanjiani', 'order': 9, 'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'}, {'cast_id': 14, 'character': 'Courtney', 'credit_id': '5524ec9bc3a3687df8000d13', 'gender': 1, 'id': 70776, 'name': 'Kellee Stewart', 'order': 10, 'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'}, {'cast_id': 15, 'character': 'Terry', 'credit_id': '5524eca892514171cb008237', 'gender': 2, 'id': 347335, 'name': 'Josh Heald', 'order': 11, 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'cast_id': 16, 'character': 'Susan', 'credit_id': '5524ecb7925141720c001116', 'gender': 0, 'id': 1451392, 'name': 'Gretchen Koerner', 'order': 12, 'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'}, {'cast_id': 17, 'character': 'Herself', 'credit_id': '5524ecc3c3a3687ded000d74', 'gender': 1, 'id': 98879, 'name': 'Lisa Loeb', 'order': 13, 'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'}, {'cast_id': 18, 'character': 'Herself', 'credit_id': '5524ecd3c3a3687e11000ed3', 'gender': 1, 'id': 1394648, 'name': 'Jessica Williams', 'order': 14, 'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'}, {'cast_id': 19, 'character': 'Himself', 'credit_id': '5524ece6925141718d001009', 'gender': 0, 'id': 1451393, 'name': 'Bruce Buffer', 'order': 15, 'profile_path': None}, {'cast_id': 20, 'character': 'Shot Girl', 'credit_id': '5524ecf5c3a3687e08000dc2', 'gender': 0, 'id': 1451394, 'name': 'Mariana Paola Vicente', 'order': 16, 'profile_path': '/ckPllza8624UHWGHCbLShkLxCD1.jpg'}, {'cast_id': 33, 'character': 'Choozy Doozy Host', 'credit_id': '555844da9251412afe0013a9', 'gender': 2, 'id': 2224, 'name': 'Christian Slater', 'order': 17, 'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'}, {'cast_id': 35, 'character': 'Gary Winkle', 'credit_id': '55872027c3a3683853005074', 'gender': 0, 'id': 185805, 'name': 'Jason Jones', 'order': 18, 'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'}, {'cast_id': 36, 'character': 'Bridesmaid', 'credit_id': '55efe971c3a368090c00cd1b', 'gender': 0, 'id': 1507448, 'name': 'Olivia Jordan', 'order': 19, 'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'}, {'cast_id': 37, 'character': 'Christine', 'credit_id': '55efe980c3a36871bf008176', 'gender': 1, 'id': 1334091, 'name': 'Christine Bently', 'order': 20, 'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'}, {'cast_id': 38, 'character': 'Excited Girl', 'credit_id': '55efe98e9251413e3201d316', 'gender': 0, 'id': 557803, 'name': 'Stacey Asaro', 'order': 21, 'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'}, {'cast_id': 64, 'character': 'Adam (uncredited)', 'credit_id': '58f2135ac3a3682e95008b91', 'gender': 2, 'id': 3036, 'name': 'John Cusack', 'order': 22, 'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'}, {'cast_id': 65, 'character': 'J-Bird', 'credit_id': '59ac0240c3a3682cc802c399', 'gender': 2, 'id': 59256, 'name': 'Adam Herschman', 'order': 23, 'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'}, {'cast_id': 66, 'character': 'Bridesmaid', 'credit_id': '59ac02cd925141079d02b1b4', 'gender': 1, 'id': 129714, 'name': 'Kisha Sierra', 'order': 24, 'profile_path': None}]"

In [496]:
no_null_cast_df.loc[~no_null_cast_df['cast'].isnull(),'cast'] = no_null_cast_df.loc[~no_null_cast_df['cast'].isnull(),'cast'] .apply(convert_str_to_list)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [497]:
no_null_cast_df.iloc[0]['cast']

[{'cast_id': 4,
  'character': 'Lou',
  'credit_id': '52fe4ee7c3a36847f82afae7',
  'gender': 2,
  'id': 52997,
  'name': 'Rob Corddry',
  'order': 0,
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'cast_id': 5,
  'character': 'Nick',
  'credit_id': '52fe4ee7c3a36847f82afaeb',
  'gender': 2,
  'id': 64342,
  'name': 'Craig Robinson',
  'order': 1,
  'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'},
 {'cast_id': 6,
  'character': 'Jacob',
  'credit_id': '52fe4ee7c3a36847f82afaef',
  'gender': 2,
  'id': 54729,
  'name': 'Clark Duke',
  'order': 2,
  'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'},
 {'cast_id': 7,
  'character': 'Adam Jr.',
  'credit_id': '52fe4ee7c3a36847f82afaf3',
  'gender': 2,
  'id': 36801,
  'name': 'Adam Scott',
  'order': 3,
  'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'},
 {'cast_id': 8,
  'character': 'Hot Tub Repairman',
  'credit_id': '52fe4ee7c3a36847f82afaf7',
  'gender': 2,
  'id': 54812,
  'name': 'Chevy Chase',
  'order': 4,
  'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'},
 {'cast_id': 9,
  'character': 'Jill',
  'credit_id': '52fe4ee7c3a36847f82afafb',
  'gender': 1,
  'id': 94098,
  'name': 'Gillian Jacobs',
  'order': 5,
  'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'},
 {'cast_id': 10,
  'character': 'Sophie',
  'credit_id': '52fe4ee7c3a36847f82afaff',
  'gender': 1,
  'id': 1159009,
  'name': 'Bianca Haase',
  'order': 6,
  'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'},
 {'cast_id': 11,
  'character': 'Kelly',
  'credit_id': '5524ec51c3a3687df3000dbb',
  'gender': 1,
  'id': 86624,
  'name': 'Collette Wolfe',
  'order': 7,
  'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'},
 {'cast_id': 13,
  'character': 'Brad',
  'credit_id': '5524ec8ec3a3687ded000d72',
  'gender': 2,
  'id': 466505,
  'name': 'Kumail Nanjiani',
  'order': 9,
  'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'},
 {'cast_id': 14,
  'character': 'Courtney',
  'credit_id': '5524ec9bc3a3687df8000d13',
  'gender': 1,
  'id': 70776,
  'name': 'Kellee Stewart',
  'order': 10,
  'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'},
 {'cast_id': 15,
  'character': 'Terry',
  'credit_id': '5524eca892514171cb008237',
  'gender': 2,
  'id': 347335,
  'name': 'Josh Heald',
  'order': 11,
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'cast_id': 16,
  'character': 'Susan',
  'credit_id': '5524ecb7925141720c001116',
  'gender': 0,
  'id': 1451392,
  'name': 'Gretchen Koerner',
  'order': 12,
  'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'},
 {'cast_id': 17,
  'character': 'Herself',
  'credit_id': '5524ecc3c3a3687ded000d74',
  'gender': 1,
  'id': 98879,
  'name': 'Lisa Loeb',
  'order': 13,
  'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'},
 {'cast_id': 18,
  'character': 'Herself',
  'credit_id': '5524ecd3c3a3687e11000ed3',
  'gender': 1,
  'id': 1394648,
  'name': 'Jessica Williams',
  'order': 14,
  'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'},
 {'cast_id': 19,
  'character': 'Himself',
  'credit_id': '5524ece6925141718d001009',
  'gender': 0,
  'id': 1451393,
  'name': 'Bruce Buffer',
  'order': 15,
  'profile_path': None},
 {'cast_id': 20,
  'character': 'Shot Girl',
  'credit_id': '5524ecf5c3a3687e08000dc2',
  'gender': 0,
  'id': 1451394,
  'name': 'Mariana Paola Vicente',
  'order': 16,
  'profile_path': '/ckPllza8624UHWGHCbLShkLxCD1.jpg'},
 {'cast_id': 33,
  'character': 'Choozy Doozy Host',
  'credit_id': '555844da9251412afe0013a9',
  'gender': 2,
  'id': 2224,
  'name': 'Christian Slater',
  'order': 17,
  'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'},
 {'cast_id': 35,
  'character': 'Gary Winkle',
  'credit_id': '55872027c3a3683853005074',
  'gender': 0,
  'id': 185805,
  'name': 'Jason Jones',
  'order': 18,
  'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'},
 {'cast_id': 36,
  'character': 'Bridesmaid',
  'credit_id': '55efe971c3a368090c00cd1b',
  'gender': 0,
  'id': 1507448,
  'name': 'Olivia Jordan',
  'order': 19,
  'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'},
 {'cast_id': 37,
  'character': 'Christine',
  'credit_id': '55efe980c3a36871bf008176',
  'gender': 1,
  'id': 1334091,
  'name': 'Christine Bently',
  'order': 20,
  'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'},
 {'cast_id': 38,
  'character': 'Excited Girl',
  'credit_id': '55efe98e9251413e3201d316',
  'gender': 0,
  'id': 557803,
  'name': 'Stacey Asaro',
  'order': 21,
  'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'},
 {'cast_id': 64,
  'character': 'Adam (uncredited)',
  'credit_id': '58f2135ac3a3682e95008b91',
  'gender': 2,
  'id': 3036,
  'name': 'John Cusack',
  'order': 22,
  'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'},
 {'cast_id': 65,
  'character': 'J-Bird',
  'credit_id': '59ac0240c3a3682cc802c399',
  'gender': 2,
  'id': 59256,
  'name': 'Adam Herschman',
  'order': 23,
  'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'},
 {'cast_id': 66,
  'character': 'Bridesmaid',
  'credit_id': '59ac02cd925141079d02b1b4',
  'gender': 1,
  'id': 129714,
  'name': 'Kisha Sierra',
  'order': 24,
  'profile_path': None}]

In [485]:
no_null_cast_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2987 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2987 non-null   int64
 1   belongs_to_collection  599 non-null    object
 2   budget                 2987 non-null   int64
 3   genres                 2980 non-null   object
 4   homepage               938 non-null    object
 5   imdb_id                2987 non-null   object
 6   original_language      2987 non-null   object
 7   original_title         2987 non-null   object
 8   overview               2979 non-null   object
 9   popularity             2987 non-null   float64
 10  poster_path            2986 non-null   object
 11  production_companies   2831 non-null   object
 12  production_countries   2932 non-null   object
 13  release_date           2987 non-null   object
 14  runtime                2985 non-null   float64
 15  spoken_languages       2967 non-null   object
 16  status                 2987 non-null   object
 17  tagline                2391 non-null   object
 18  title                  2987 non-null   object
 19  Keywords               2711 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                2987 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 560.1+ KB

In [498]:
cast_list_2=[]
for index,row in no_null_cast_df.iterrows():
  cast_list = row['cast']
  for elem in cast_list :
    cast_list_2.append(elem['name'])

In [503]:
len(cast_list_2)

61811

In [545]:
df_actor=pd.DataFrame(cast_list_2,columns=['actors'])

In [546]:
df_actor

                        actors
0                  Rob Corddry
1               Craig Robinson
2                   Clark Duke
3                   Adam Scott
4                  Chevy Chase
...                        ...
61806               Jack Erdie
61807              Steve Blass
61808            Derek Burnell
61809  Tiffany Sander McKenzie
61810         Joanna Theobalds

[61811 rows x 1 columns]

In [547]:
def get_actors(row):
  try:
    #Initialize two lists for producers and directors
    actor_list=[]
    

    #iterate over the list elements
    for elem in row:
      actor_list.append(elem['name'])

    # row['producers'] = producer_list
    # row['directors'] = director_list  
    return actor_list
  except:
    return None

In [553]:
df1['actors'] = df1.apply(lambda row: get_actors(row['cast']), axis=1, result_type='expand')

ValueError: ignored